.landing__main {
    position: relative;
    padding-top: 2rem;
}

.landing__intro {
    @media screen and (min-width: 992px) {
        display: flex;
        margin-bottom: 5rem;
    }

    margin-bottom: 3rem;
}

.landing__intro-text {
    @media screen and (min-width: 992px) {
        margin-top: 3rem;
        margin-left: 2rem;
    }
}

.landing__heading {
    font-size: 1.75rem;
}

.landing__tagline {
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
}

.landing__photo {
    max-height: 480px;
}

.landing__blob-decor {
    position: absolute;
    z-index: -1;
    left: -50px;
    top: -20px;
}

.landing__summary {
    font-size: 1.25rem;
    text-align: center;
    margin-bottom: 2.5rem;
}

.landing__items {
    @media screen and (min-width: 992px) {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
}

.landing__item {
    text-align: center;
    margin-bottom: 4rem;
    padding: 0 2rem;

    @media screen and (min-width: 992px) {
        flex: 1 0 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2rem;
    }

    img {
        max-height: 520px;
        transition: .5s ease-in;
        transition-property: transform;
    }

    a {
        background-image: none;
    }

    a:hover {
        background-color: transparent;

        img { 
            transform: scale(1.1);
        }
    }
}